prune *
graft src
graft tests
recursive-include fastjet *
recursive-include pybind11/include/pybind11 *
recursive-include pybind11/tools 
include LICENSE README.md pyproject.toml setup.py setup.cfg
include pybind11/CMakeLists.txt pybind11/LICENSE pybind11/README.md pybind11/CONTRIBUTING.md
global-exclude __pycache__ *.py[cod] .*
